$darkmode: true;
$primary: #afd36e;
$onPrimary: #223600;
$primaryContainer: #344e00;
$onPrimaryContainer: #caef87;
$secondary: #c1caab;
$onSecondary: #2b331d;
$secondaryContainer: #424a32;
$onSecondaryContainer: #dde6c6;
$tertiary: #a0d0c9;
$onTertiary: #013733;
$tertiaryContainer: #1f4e49;
$onTertiaryContainer: #bcece5;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #10100E;
$background: #10100E;
$onBackground: #e4e3db;
$surface: #1b1c18;
$onSurface: #e4e3db;
$surfaceVariant: #45483d;
$onSurfaceVariant: #c6c8b9;
$outline: #8f9284;
$shadow: #000000;
$inverseSurface: #e4e3db;
$inverseOnSurface: #30312c;
$inversePrimary: #49670a;
